.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4caf50;
  width: 100%;
  height: 80px;
}

.nav-1 {
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.nav-1 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
}

.nav-1-text {
  margin-left: 10px;
  color: #fff;
}

.nav-1-text h3 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.nav-1-text p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #dedcdc;
  font-style: italic;
}

.nav-2 {
  margin-right: 250px;
}

.products-plant {
  margin-top: 25px;
  margin-bottom: 25px;
}

.heading {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  color: #4caf50;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 50px;
}

.plants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.plant-card {
  width: 450px;
  background-color: #ddd;
  margin-bottom: 20px;
  border: 1px solid silver;
  border-radius: 10px;
  cursor: pointer;
}

.plant-card-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.plant-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant-card-img img:hover {
  transform: scale(1.1);
  transition: all ease-in-out .3s;
}

.plant-card-details {
  padding: 5px;
}

.plant-card-details h3 {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  color: #4caf50;
  margin-left: 10px;
}

.plant-card-details p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: #36454F;
  margin-left: 10px;
  font-style: italic;
  line-height: 10px;
}

.icon-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-cost h6 {
  color: #36454F;
  margin: 10px 10px;
}

.icon-cost h6 strong {
  color: #4caf50;
}

@media screen and (max-width: 768px) {
  .nav-1 {
    margin-left: 50px;
  }

  .nav-2 {
    margin-right: 50px;
  }

  .plants-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .plant-card {
    width: 100%;
  }

  .plant-card-img {
    height: 250px;
  }

  .plant-card-details p {
    line-height: 15px;
  }
}

@media screen and (max-width: 480px) {
  .products-plant {
    margin: 10px 0;
  }

  .heading {
    font-size: 25px;
  }

  .plants-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .plant-card {
    width: 100%;
    margin-bottom: 15px;
  }

  .plant-card-img {
    height: 200px;
  }

  .plant-card-details h3 {
    font-size: 20px;
  }

  .plant-card-details p {
    font-size: 13px;
  }

  .icon-cost h6 {
    font-size: 14px;
  }
}